/*estilizações gerais*/

.container {
  background-color: #4b4747fb;
  box-shadow: -30px -30px 45px #999;
  border-radius: 10px;
  color: #fff;
  padding: 0 2rem;
  margin: 3rem;
}

.div_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*estilos do navbar*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000b7;
  height: 60px;
  color: #fff;
  font-size: 25px;
  position: fixed;
  width: 100%;
  top: 0px;
}

.link_home {
  padding: 10px;
}

.navbar_links {
  padding: 10px;
}

/*estilos da apresentacao*/

.apresentacao {
  margin-top: 5rem;
}

.title {
  font-size: 4rem;
}

.title_description {
  font-size: 2rem;
}

.title,
.title_description {
  text-align: center;
  margin: 0;
  line-height: 1.15;
}

/*estilos da bio*/

.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 20px;
  max-width: 30rem;
}

/*estilos do contato*/

.container_contato {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.container_contato a {
  margin: 0.5rem;
}

/*estilos tecnologias*/

.container_tecnologias {
  padding: 2rem;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.tecnologias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icones_tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.icone {
  max-width: 100px;
}

/*estilos tempo*/

.tempo_container {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tempo_container_box {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  border: 2px solid #000;
  border-spacing: 0.3rem;
}


/*estilos rodapé*/

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #414c58;
  font-size: 1.5rem;
  color: #fff;
  bottom: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*estilos do chat*/

.titulo_chat {
  margin-top: 5rem;
}

/*estilos pagina de contato*/

.titulo_contato {
  margin-top: 5rem;
}

.container_contatos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5rem;
}

.container_contatos a {
  margin: 1rem;
  font-size: 1.5rem;
}

/*estilos pagina de api*/

.titulo_pagina_api {
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
}

/*estilos páginas de projetos*/

.container_projetos {
  margin: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.container_projetos p {
  font-size: 1.5rem;
}

.container_projetos a {
  margin: 1rem;
  color: #0099ff;
}

.titulo_projetos {
  margin-top: 5rem;
}

/*estilizações de responsividade*/

@media screen and (max-width:640px) {
  .menu_mobile img {
    height: 2rem;
    width: 2rem;
  }

  .drawer {
    background-color: #4b4747fb;
    box-shadow: -30px -30px 45px #999;
    color: #fff;
    height: 100vh;
    font-size: 2rem;
  }

  .navbar {
    display: none;
  }

  .apresentacao {
    margin: 1rem;
    margin-top: 3rem;
  }

  .bio {
    font-size: 1.2rem;
    padding: 0%;
  }

  .container {
    margin: 1rem;
    margin-top: 2rem;
    padding: 1rem;
  }

  .div_1 {
    display: flex;
    flex-direction: column;
  }

  .container_contato {
    display: flex;
    align-items: center;
    width: auto;
  }

  .container_contato a {
    margin: 1rem;
  }

  .container_tecnologias {
    margin: 2rem;
  }

  .tecnologias {
    margin: 2rem;
  }

  .footer {
    width: 100vw;
    padding: 1rem;
  }

  .container_contatos a {
    margin: 2rem;
    font-size: 1.2rem;
  }

  .container_projetos {
    margin: 1rem;
  }

  .titulo_pagina_api {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

}

@media screen and (min-width: 641px) {
  .menu_mobile {
    display: none;
  }
}