/*estilizações gerais*/

.container {
  background-color: #4b4747fb;
  box-shadow: -30px -30px 65px #999;
  border-radius: 10px;
  color: #fff;
  padding: 0 2rem;
  margin: 1rem;
}

.div_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*estilos do navbar*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000b7;
  height: 60px;
  color: #fff;
  font-size: 25px;
  position: fixed;
  width: 100%;
  top: 0px;
}

.link_home {
  padding: 10px;
}

.navbar_links {
  padding: 10px;
}

/*estilos da apresentacao*/

.apresentacao {
  margin-top: 3.5rem;
}

.title {
  font-size: 4rem;
}

.title_description {
  font-size: 2rem;
}

.title,
.title_description {
  text-align: center;
  margin: 0;
  line-height: 1.15;
}

/*estilos da bio*/

.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 20px;
  max-width: 30rem;
}

/*estilos do contato*/

.container_contato {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.container_contato a {
  margin: 0.5rem;
}

/*estilos tecnologias*/

.container_tecnologias {
  padding: 2rem;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.tecnologias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icones_tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.icone {
  max-width: 100px;
}

/*estilos da página api*/

.apis {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: auto;
}

/*estilos tempo*/

.tempo_container {
  max-width: 25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tempo_container_box {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  color: #fff;
  border-bottom: 2px solid #fff;
  border-spacing: 0.3rem;
}

.container_tempo {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 2%;
  background-color: #62abbde5;
  box-shadow: -25px -25px 0px 5px rgba(0, 0, 0, 0.23);
}

.titulo_pagina_api {
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
}

/*estilos crud*/
.crud {
  margin: 5rem;
  background-color: #eaeaea;
  border-radius: 10px;
  box-shadow: -10px -10px 0px 5px rgba(0, 0, 0, 0.23);
}

.crud h1 {
  margin: 2rem;
}

.crud Button {
  color: #000;
}

.crud p {
  margin: 2rem;
}

.crud_form {
  border: solid 2px #c1cbd3;
  border-radius: 10px;
}

.crud_form Input {
  width: 16rem;
}

.crud_table {
  border: solid 2px #c1cbd3;
  border-radius: 10px;
  margin-top: 5rem;
  background-color: #eaeaea;
}

/*estilos rodapé*/

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #414c58;
  font-size: 1.5rem;
  color: #fff;
  bottom: 0;
  width: 100vw;

}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*estilos do chat*/

.titulo_chat {
  margin-top: 5rem;
}

/*estilos pagina de contato*/

.titulo_contato {
  margin-top: 5rem;
}

.container_contatos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5rem;
}

.container_contatos a {
  margin: 1rem;
  font-size: 1.5rem;
}

/*estilos páginas de projetos*/

.container_projetos {
  margin: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.container_projetos p {
  font-size: 1.5rem;
}

.container_projetos a {
  margin: 1rem;
  color: #0099ff;
}

.titulo_projetos {
  margin-top: 5rem;
}

/*estilos Cotações de moedas*/

.container_moedas {
  background-color: #011802;
  color: #fff;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: max-content;
  border-radius: 2%;
  box-shadow: -25px -25px 0px 5px rgba(0, 0, 0, 0.23);
}

.thead_moedas th {
  border-bottom: 2px solid #fff;
}

.tbody_moedas td {
  border-bottom: 2px solid #fff;
}

.apis {
  display: flex;
  justify-content: center;
}


/*estilizações de responsividade*/

@media screen and (max-width:640px) {

  .menu_mobile img {
    height: 2rem;
    width: 2rem;
  }

  .drawer {
    background-color: #4b4747fb;
    box-shadow: -30px -30px 45px #999;
    color: #fff;
    height: 100vh;
    font-size: 2rem;
  }

  .navbar {
    display: none;
  }

  .apresentacao {
    margin: 1rem;
    margin-top: 3rem;
  }

  .bio {
    font-size: 1.2rem;
    padding: 0%;
  }

  .container {
    margin: 1rem;
    margin-top: 2rem;
    padding: 1rem;
  }

  .div_1 {
    display: flex;
    flex-direction: column;
  }

  .container_contato {
    display: flex;
    align-items: center;
    width: auto;
  }

  .container_contato a {
    margin: 1rem;
  }

  .container_tecnologias {
    margin: 2rem;
  }

  .icones_tecnologias {
    margin: 0%;
    padding: 0%;
  }

  .apis {
    flex-direction: column;
    justify-content: center;
  }

  .container_tempo {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .footer {
    width: 100vw;
    padding: 1rem;
  }

  .container_contatos a {
    margin: 2rem;
    font-size: 1.2rem;
  }

  .container_projetos {
    margin: 1rem;
  }

  .titulo_pagina_api {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .container_moedas {
    max-width: 100vw;
  }

  .crud {
    width: 100vw;
    margin: 0%;
  }

  .crud_table {
    display: none;
  }

  .crud_table_mobile {
    border: solid 2px #0099ff;
    border-radius: 10px;
    background-color: #eaeaea;
  }

  .crud_table_mobile li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }

  .crud_table_mobile p {
    margin: 1rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 641px) and (max-width:790px) {
  .container_moedas {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 641px) {
  .menu_mobile {
    display: none;
  }

  .crud_table_mobile {
    display: none;
  }

  .apis {
    margin-left: 5rem;
  }

  .tecnologias_component {
    display: none;
  }
}