/*estilizações gerais*/

.container{
  background-color: #4b4747fb;
  box-shadow: -30px -30px 45px #999;
  border-radius: 10px; 
  color: #fff;
  padding: 0 2rem;
  margin: 3rem;    
}

.div_1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*estilos do navbar*/

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000b7;
  height: 60px;
  color: #fff;
  font-size: 25px;
  position: fixed;   
  width: 100%;
  top: 0px;
}
.link_home{
  padding: 10px;
}
.navbar_links{
  padding: 10px;
}

/*estilos do título*/

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title_description {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.title_description,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

/*estilos da bio*/

.bio{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 20px; 
  max-width: 30rem;
}

/*estilos do contato*/

.container_contato{
  width: 15rem;  
  display: flex;
  justify-content: space-around;
}

/*estilos tecnologias*/

.container_tecnologias{ 
  padding: 2rem;
  margin-top: 5rem; 
  margin-left: 2rem;
  margin-right: 2rem;
}

.tecnologias{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;       
}

.icones_tecnologias{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 00.5rem;
}

.icone{
  max-width: 100px;    
}

/*estilos funcionalidades*/

.container_funcionalidades{
  margin-top: 3rem;
  padding: 4rem;
}

/*estilos tempo*/

.tempo_container{ 
  max-width: 25rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;      
}

.tempo_container_box{    
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  font-weight: 700;
  border: 2px solid #000;
  border-spacing: 0.3rem;
} 


/*estilos rodapé*/

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #414c58;
  font-size: 1.5rem;
  color: #fff;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*estilos responsivos*/

@media screen and (max-width:767px) {
  .container_principal{
      width: 100vw;
      display: flex;
      flex-direction: column; 
      justify-content: center;      
  }
  .div_1{
      display: flex;
      flex-direction: column;
  }
  .bio{
      width: 16rem;   
      margin: 2rem;     
  }
  .container_contato{
      width: 17rem;
      margin: 2rem;

  }
  .container_tecnologias{
      margin: 2rem;
  }
  .tecnologias{
    padding: 0;  
  }
 
  .icone{
      max-width: 50px;

  }
  .icones_tecnologias{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 2px;
  }
}
@media screen and (min-width:768px) and (max-width:940px) {
    .bio{
        max-width: 20rem;                  
    }    
    .container_contato{
        max-width: 20rem;
    }
    .tecnologias{
        padding: 1rem;
    }
    .icone{         
        width: 90px;
    }
}


